.box2 span{
    color: red;
}

.box2{
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    padding-right: 30px;
  background: white !important;
}

.box2 input{
    width: 20vw;
    border: none;
    position: relative;
    outline: none;
    font-size: 15px;
}

.box2 .hr{
    width: 20vw !important;
    height: 1px !important;
    background: rgb(125, 125, 125);
}